html,body{
    height:100%
}
table{
    border:1px solid black;
}
table tr, table td{
    border: 1px solid black;
}
.vertical{
    height: 100%;
    background: black;
    width: 0.2%;
}
.con{
    height: 100%;
    margin:0;
    margin-right: 0px !important;
    padding: 0;
}
form{
    width: 50%;
    margin:auto;
    margin-top: 40%;
}
.first{
    height:100%;
    width:100%;
    background-image: url(./soccer.jpg);
    background-size: cover;
    background-position: center;
}
.result{
    margin-top: 5%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}
.pic{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    opacity: 0.5;
    height:50vh;
}
#team{
    padding: 2%;
}
.result h1{
    width: 40%;
    margin:auto;
    opacity: 1;
}